@import url("https://fonts.googleapis.com/css?family=Poppins:wgth@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  flex-direction: column;
  background-color: rebeccapurple;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: white;
  color: rebeccapurple;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.toast {
  background-color: white;

  padding: 1rem 2rem;
  margin: 0.5rem;
}

.toast.infor {
  color: rebeccapurple;
}

.toast.success {
  color: green;
}

.toast.error {
  color: red;
}
